{% extends 'base.html.twig' %}

{% block title %}liste des projets{% endblock %}

{% block Nompage %} Projets {% endblock %}
{% block body %}
    <div id="projects-container">
        {% for projet in projets %}
            <article class="card-project">
                    <a href="{{ path('tache.index',{id : projet.id}) }}">
                        <h2>{{ projet.nom }}</h2>
                    </a>
                    <div class="card-project-icons">
                        <a href="{{ path('projet.edit',{id : projet.id}) }}"><i class="fa-solid fa-pen"></i></a>
                        <!-- Bouton archivage / suppression -->
                        <a href="#"
                           class="text-danger"
                           data-bs-toggle="modal"
                           data-bs-target="#genericConfirmModal"

                            {# 🔹 Variables passées à la modale #}
                           data-modal-title="Confirmer l'archivage"
                           data-modal-body='Voulez-vous vraiment archiver le projet <strong>{{ projet.nom }}</strong> ?<br><p class="text-center mt-2"><strong>Ce projet ne sera plus accessible.</strong></p>'
                           data-confirm-url="{{ path('projet.archiver', {'id': projet.id}) }}"
                           data-confirm-color="btn-warning">
                            <i class="fa-solid fa-box-archive"></i>
                        </a>
                    </div>
            </article>
        {% endfor %}
        <article class="card-project">
            <a href="{{ path('projet.new') }}">
                <i class="fa-solid fa-circle-plus add-project-icon"> </i>
                <h2>Ajouter un projet</h2>
            </a>
        </article>
    </div>
{% endblock %}
