{% extends 'base.html.twig' %}

{% block title %}Employé{% endblock %}

{% block Nompage %} Equipe {% endblock %}
{% block body %}
        <table id="team-container">
            <thead>
            <tr>
                <th>Prénom, Nom</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for employe in employes %}
                    <tr>
                        <td>
                            <div class="employee-infos">
                                <div class="employee-avatar">
                                    {{ employe.getInitiales() }}
                                </div>
                                <div class="employee-coords">
                                    <strong>{{ employe.nom ~" "~employe.prenom }}</strong>
                                    <span>{{ employe.email }}</span>
                                </div>
                            </div>
                        </td>
                        <td>{{ employe.typeContrat ? employe.typeContrat.value : 'Non défini' }}</td>
                        <td>
                            <a class="button button-edit-team" href="{{ path('employe_edit', {id: employe.id}) }}">
                                Éditer
                            </a>
                            <a href="#"
                               class="delete-team text-danger"
                               data-bs-toggle="modal"
                               data-bs-target="#genericConfirmModal"
                               data-modal-title="Suppression d’un employé"
                               data-modal-body="Voulez-vous vraiment supprimer <strong>{{ employe.prenom ~ ' ' ~ employe.nom }}</strong> ?"
                               data-confirm-url="{{ path('employe.delete', {id: employe.id}) }}"
                               data-confirm-color="btn-danger">
                                Supprimer
                            </a>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
