{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/styles/loginstyle.css') }}">
 {% endblock %}
{% block body %}
    {% block navigation %}{# pas de nav ici #}{% endblock %}
    <div class="logo">TaskLinker</div>

    <div class="login-container">
        <h1>S’inscrire</h1>
        {{ form_start(form) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.prenom) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}
            {{ form_row(form.confirmPassword) }}
            <button type="submit">Continuer</button>
        {{ form_end(form) }}
        <div class="register-link">
            Vous avez déjà un compte ? <a href="{{ path('login') }}">Se connecter</a>
        </div>
    </div>
{% endblock %}
